[submodule "tim"]
	path = tim
	url = https://github.com/ReneNyffenegger/PL-SQL-pkg-tim
[submodule "ses"]
	path = ses
	url = https://github.com/ReneNyffenegger/PL-SQL-pkg-ses
[submodule "task"]
	path = task
	url = https://github.com/ReneNyffenegger/PL-SQL-pkg-task
[submodule "log"]
	path = log
	url = https://github.com/ReneNyffenegger/PL-SQL-pkg-log
[submodule "assert"]
	path = assert
	url = https://github.com/ReneNyffenegger/PL-SQL-pkg-assert
[submodule "jsn"]
	path = jsn
	url = https://github.com/ReneNyffenegger/PL-SQL-pkg-jsn
[submodule "txt"]
	path = txt
	url = https://github.com/ReneNyffenegger/PL-SQL-pkg-txt
